
html, body{
	font-size: 14px;
	background-color: #e8e7e9;
	color: #232323;
	height: 100%;
	font-family: sans-serif;
}



#bigmap {
	width: 100%;
	height: 50%;
}
#legenda{
	background-color: #000;
	padding: 20px;
	position: static;
}

#legenda h1{
	font-size: 18px;
	margin-top: 0;
}

a{
	color: #4575b4;
	text-decoration: none;
}
.leaflet-left .leaflet-control{
	margin-top: 10px;
	margin-left: 10px;
}
.leaflet-container .leaflet-control-attribution{
	color: #000;
}
.leaflet-control-attribution a{
	color: #000;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar{
	border: 2px solid #000;
}
.light{
	color: #ccc;
}

.container-fluid{
	padding: 20px;
}

#straatlinks{
	text-align: right;
}
#straatlinks img{
	margin-left: 15px;
	height: 80px;
	float: right;
}
#pandinfo{
	display: none;
}
#pandimg{
	text-align: right;
}
#pandimg img{
	height: 80px;
}
#imgs img{
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}




